.favorites-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12px;
}
.favorites-post-card {
  text-align: left;
}
.favorites-post-title {
  font-weight: bold;
  text-align: left;
}
.main-container {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 0 16px;
} 